.card {
  width: 380px;
  background: var(--card-bg-color);
  padding: 28px 36px 36px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoIcon {
  width: 76px;
  height: 22px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.tweetsImage {
  width: 308px;
  height: 168px;
}

.boyImage {
  width: 70px;
  height: 70px;
  z-index: 0;
  border-radius: 50px;
}

.ellipse {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  top: 186px;
}

.rectangle {
  position: absolute;
  width: 380px;
  top: 228px;
}

.userName {
  margin-top: 26px;
  font-size: 20px;
  font-weight: 500;
  color: var(--btn-unfollow-bg-color);
}

.tweets {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--btn-unfollow-bg-color);
  margin: 16px 0px;
}

.followers {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--btn-unfollow-bg-color);
  margin-bottom: 26px;
}

.btnFollow {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--landing-button-text-color);
  padding: 14px 28px;
  border-radius: 10px;
  width: 196px;
  background-color: var(--btn-unfollow-bg-color);
  cursor: pointer;
}
