.navigation {
  background-color: var(--img-default-bg);
  padding: 10px 20px;
}

.navigationList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 600px;
  list-style: none;
}

.navigationIcon {
  transition: transform 200ms linear;
}

.link:hover .navigationIcon {
  transform: scale(1.1);
  transition: transform 200ms linear;
}
